
	 #page { 
      background-color: #ffc500;
      }
	body
{
    padding-top: 0px;
}
	 .title {
	 	text-align: center;
	 	font-size: 250%;
	 	font-family: Times;
	       }
	.blacktext{ 
		color: black;
		text-align: center;
		font-weight: bold;
	          }
	.footertable {
		width: 400;
		margin-left:auto; 
	    margin-right:auto;
	    bottom: 0;
	}
	a:link {
}

a:visited {
    background-color: red;
}

a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
} 
table.center {
    width:80%;
    margin-left:10%;
    margin-right:10%;
  }
