 @import url(https://fonts.googleapis.com/css?family=Kalam);
	 .title {
	 	text-align: center;
	 	font-size: 275%;
	 	font-family: Times;
	       }
	.blacktext{ 
		color: black;
		text-align: center;
		font-weight: bold;
	          }
	.footertable {
		width: 400;
		margin-left:auto; 
	    margin-right:auto;
	}
	a:link {
}

a:visited {
    background-color: red;
}

a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
} 
